@page
@model ChartModel
@{
    ViewData["Title"] = "Blood Pressure Chart";
}
<h1>@ViewData["Title"]</h1>

<p>This chart displays the different categories of blood pressure readings, helping you understand the range your measurements fall into.</p>
<img src="~/images/BloodPressureChart.png" alt="Blood Pressure Chart" style="height:50%; width:50%"/>
