body{
 font-weight: 600 !important; 
}

.tip-text {
  padding-top: 1em !important;
  font-style: italic !important;
  color: #04AA6D !important;
}

.btn {
  background-color: #ddd !important;
  border-color: black;
}

.high {
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.preHigh {
  background-color: #a08112;
  color: #fff;
  font-weight: bold;
  text-align: center;  
}

.ideal {
  background-color: rgb(4, 159, 4);
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.low {
  background-color: rgb(128, 0, 128);
  color: #fff;
  font-weight: bold;
  text-align: center;
}